<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="jain_travels.My.MySettings.jain_travelsConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;F:\visual basic lab assignment\jain travels.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="jain_travels.My.MySettings.jain_travelsConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\jain travels.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="jain_travels.My.MySettings.jainConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\jain.accdb"
            providerName="System.Data.OleDb" />
        <add name="jain_travels.My.MySettings.JainTravelsConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\JainTravels.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>